/target/
/bin/

/.settings/
.classpath
.project
.factorypath

**/target/
**/bin/
**/.settings/
**/.factorypath

workspace-sts-5/
workspace-sts-5-clean/

*.zip

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db